html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  .product-card{
    border: 1px solid #f2f2f2;
    padding: 10px;
    border-radius: 7px;
}
.product-img{
    height: 200px;
    width: 100%;
    object-fit: contain;
}
.heading{
    font-size: 17px;
    padding: 10px 0;
    margin: 0;
    height: 54px;
    overflow: hidden;
}
.price{
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
}
.desc{
    margin-bottom: 0;
    font-size: 12px;
    height: 72px;
    overflow: hidden;
}
.loader {
    display: none;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}